@use "variables" as *;
@use "mixins";

// scrollbar rules
.custom-scrollbar {
	scrollbar-width: thin; /* Thin scrollbar */
	scrollbar-color: #5a5a5a #f8f9fa; /* Thumb color and track color */
	scroll-behavior: smooth; /* Smooth scrolling */
	&::-webkit-scrollbar {
		width: 10px; /* Slim scrollbar for a sleek look */
	}

	&::-webkit-scrollbar-track {
		background: #f8f9fa; /* Light background for the scrollbar track */
		border-radius: 10px; /* Rounded track for modern feel */
	}

	&::-webkit-scrollbar-thumb {
		background-color: #5a5a5a; /* Darker, sophisticated thumb color */
		border-radius: 10px; /* Rounded scrollbar for elegant design */
		border: 3px solid #f8f9fa; /* Padding to add space between thumb and track */
		transition: background-color 0.3s ease, border 0.3s ease; /* Smooth transition */
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #404040; /* Darker shade on hover for a modern effect */
		border: 3px solid #eaeaea; /* Lighter padding color on hover */
	}
}
.red-asterisk {
	color: $red-asterisk;
	font-size: 1rem;
}
.mandatory-warning {
	color: $red-asterisk;
	font-size: 0.9rem;
	letter-spacing: 1px;
	margin: 4px 0;
	display: inline-block;
}
.flex {
	background-color: $color-grey-2;
}
.wrapper {
	@include mixins.theme-colors(one);
	background-color: $color-grey-2;
	width: 100%;
	font-family: "Poppins";
	position: relative;
}
.add-menu--header {
	color: $color-grey-1;
	text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
	font-size: 3rem;
	font-family: "Poppins-SemiBold";
	font-weight: 600;
}
.form-wrapper {
	background-color: $color-grey-1;
	border-radius: 5px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
	color: $rich-black;
}
.add-menu--form-label {
	color: $rich-black;
}
.btn {
	border-radius: 5px;
	margin-top: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: all 0.2s ease;
	background-color: var(--primary-color);
	color: var(--contrast-color);
	cursor: pointer;
}
.btn--saving {
	cursor: disabled;
	color: var(--primary-color);
	background-color: var(--contrast-color);
}
.alert-wrapper {
	position: absolute;
	top: 125px;
	left: 50%;
	width: 500px;
	transform: translateX(-50%);
}
.whole-relative {
	position: relative;
}
.back-wrapper {
	position: absolute;
	top: 30px;
	left: 20px;
}
.logout-wrapper {
	position: absolute;
	top: 30px;
	right: 0px;
}
.btn--back {
	border-radius: 10px;
	background-color: var(--secondary-color);
	color: $color-white-blue;
	font-size: 1rem;
	padding: 6px 12px;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
	transition: all 0.15s ease;
	&-icon {
		margin-right: 10px;
		color: var(--contrast-color);
	}
	&:hover {
		background-color: var(--contrast-color);
		box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15);
		color: var(--primary-color);
		transform: scale(1.1);
		.btn--back-icon {
			color: $rich-black;
		}
	}
	&:active {
		transform: scale(1.1) translateX(-30px);
	}
}
