@use "variables" as *;
@use "mixins";

.locations-container {
	font-family: "Poppins", sans-serif;
	background-color: var(--secondary-color);
  
	&--inner {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  padding-top: 20px;
	}
  
	.header {
	  font-size: 2.8rem;
	  font-weight: 700;
	  font-family: "Poppins-Bold";
	  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	  color: var(--contrast-color);
	  letter-spacing: 1.2px;
	}
  
	.locations-flex {
	  display: flex;
	  width: 80vw;
	  margin: 0 32px;
	  flex-direction: row;
	  gap: 48px;
	  flex-wrap: wrap;
	  align-items: stretch;
	  justify-content: center;
	}
  
	// Modifier thing
	&--theme-one {
	  @include mixins.theme-colors(one);
	}
  
	&--theme-two {
	  @include mixins.theme-colors(two);
	}
  
	&--theme-three {
	  @include mixins.theme-colors(three);
	}
	&--theme-three {
		@include mixins.theme-colors(four);
	  }
  }

.fg-gray-1 {
	color: $color-grey-1;
}
.location-card {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	min-height: 100%;
	width: 350px;
	margin-bottom: 24px;
	background: linear-gradient(
		to right bottom,
		var(--secondary-color),
		var(--primary-color),
		var(--dark-color)
	);
	color: $color-white-blue;

	&--new {
		margin-bottom: 24px;
		background: linear-gradient(
			to right bottom,
			var(--primary-color),
			var(--dark-color)
		);
		color: var(--contrast-color);
		width: 350px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	}
	.delete-wrapper {
		color: $color-grey-4;
		background: $color-grey-1;
		padding: 4px 6px;
		border-radius: 4px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		transition: all 0.05s ease;
		&:hover {
			transform: scale(1.4);
			box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
		}
	}
}
