@import "animations.scss";
$rich-black: #000814ff;
$oxford-blue: #001d3dff;
$yale-blue: #003566ff;
$mikado-yellow: #ffc300ff;
$gold: #ffd60aff;
$color-white: #fff;
$color-white-blue: #f8f9fa;
$color-grey-1: #adb5bd;
$color-grey-2: #495057;
$color-grey-3: #343a40;
$color-grey-4: #212529;
$red-asterisk: #c40000;

// -----------------------------------------------
// neumorphism variables

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url("/Poppins-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Poppins-Light";
	font-style: normal;
	font-weight: 300;
	src: url("/Poppins-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Poppins-Medium";
	font-style: normal;
	font-weight: 500;
	src: url("/Poppins-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Poppins-SemiBold";
	font-style: normal;
	font-weight: 600;
	src: url("/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: "Poppins-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("/Poppins-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Poppins-ExtraBold";
	font-style: normal;
	font-weight: 800;
	src: url("/Poppins-ExtraBold.ttf") format("truetype");
}
$color-neu-one: #e0e1e1;
$color-neu-two: #d1d3d7;
$color-neu-three: #f8efef;
$color-neu-four: #e5e4e4;
// neumorphic shadows
$shadow-neu-small: -0.5rem -0.8rem 2rem rgba(255, 255, 255, 0.6),
	0.5rem 0.8rem 2rem rgba(0, 0, 0, 0.1);
$shadow-neu-mid: -5px -8px 1.5rem rgba(255, 255, 255, 0.75),
	5px 8px 1.5rem rgba(0, 0, 0, 0.3);
$shadow-neu-thick: -2px -4px 8px rgba(255, 255, 255, 1),
	2px 4px 8px rgba(0, 0, 0, 0.5);
$shadow-neu-thick-spread: -2px -4px 16px rgba(255, 255, 255, 1),
	2px 4px 16px rgba(0, 0, 0, 0.3);
$shadow-neu-inset: -0.4rem -0.7rem 1rem rgba(255, 255, 255, 0.2) inset,
	0.4rem 0.7rem 1rem rgba(0, 0, 0, 0.2) inset;
$shadow-neu-inset-small: -2px -4px 8px 12px rgba(255, 255, 255, 0.2) inset,
	2px 4px 8px rgba(0, 0, 0, 0.2) inset;
$shadow-neu-float: -0.8rem -1.1rem 2rem rgba(255, 255, 255, 0.9),
	0.8rem 1.1rem 2rem rgba(0, 0, 0, 0.4);
$shadow-neu-float-light: -0.8rem -1.1rem 3rem rgba(255, 255, 255, 0.9),
	0.8rem 1.1rem 3rem rgba(0, 0, 0, 0.2);

// other shadows
$shadow-lightest: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-bevel: 0 -1rem 1.5rem rgba(0, 0, 0, 0.2) inset;
$shadow-concave: -0.4rem -0.7rem 1rem rgba(255, 255, 255, 0.2) inset,
	0.4rem 0.7rem 1rem rgba(0, 0, 0, 0.2) inset;
$shadow-carved: 4px 3px 7px rgba(0, 0, 0, 0.15) inset,
	-4px -1px 5px rgba(0, 0, 0, 0.075) inset;

// GRADIENTS
$gradient-convex: linear-gradient(
	-45deg,
	rgba(0, 0, 0, 0.2),
	rgba(255, 255, 255, 0.2)
);
$gradient-concave: linear-gradient(
	135deg,
	rgba(0, 0, 0, 0.075),
	rgba(255, 255, 255, 0.15)
);
