$rich-black: #000814ff;
$oxford-blue: #001d3dff;
$yale-blue: #003566ff;
$mikado-yellow: #ffc300ff;
$gold: #ffd60aff;
$color-white: #fff;
$color-white-blue: #f8f9fa;
$color-grey-1: #adb5bd;
$color-grey-2: #495057;
$color-grey-3: #343a40;
$color-grey-4: #212529;
$red-asterisk: #c40000;

$gold-neon-highlight: 0 0 2px #ffd60aff, 0 0 4px #ffd60aff, 0 0 6px #ffd60aff,
	0 0 8px #ffd60aff;
